* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
main {
  width: 500px;
  margin: 20px auto;
}
.messages-list {
  list-style-type: none;
  padding: 0;
}
.messages-list__item {
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.messages-list__item-text {
  line-height: 1.3em;
}
.messages-list__item-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.messages-list__item-button {
  float: right;
  margin-top: 10px;
}
.pagination {
  margin-top: 30px;
}
.pagination__item {
  padding: 10px;
  text-decoration: none;
}
.pagination__item:hover {
  background: green;
  color: #fff;
}
.pagination__item_active {
  background: green;
  color: #fff;
}
.form {
  width: 100%;
}
.form__field {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}
.form__field_textarea {
  width: 100%;
  height: 100px;
}
.form__field-error {
  color: red;
  margin-bottom: 20px;
}
.form__success {
  color: green;
  margin-top: 20px;
}